#root{
    color: white;
    position: relative;
    z-index: 1;
}

#tsparticles{
    position: absolute;
}

.Navbar-opacity-0{
    opacity: 0;
}
.Navbar-opacity-1{
    opacity: 1 ;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
